flask
ninja
numpy
tqdm
imageio
pillow==6.1
fastai==1.0.51
wandb
tensorboardX==1.6
ffmpeg
ffmpeg-python==0.1.17
youtube-dl>=2019.4.17
jupyterlab
opencv-python>=3.3.0.10
torch==1.4.0
torchvision==0.4.0
tb-nightly 
future
lmdb
pyyaml


