{% extends "layout.html"%}

{% block content %}

<div class="fix-5-12">
    <div class="container ae-4">

        <p class="ae-3" style="font-size:2rem;">{{ name }}</p>
        <div class="fix-4-12">
            <img src="{{url_for('downloads',filename=name)}}"" class="img-thumbnail ae-3">
        </div>
        <br>
        <button onclick="{{url_for('download_video',filename=name)}}" id="download_btn"
            class="btn-lg btn-primary">Download</button>
    </div>

</div>
{% endblock content %}