{% extends "layout.html"%}

{% block content %}

<div class="fix-12-12">
  <div class="fix-3-12">
    <svg height="77" class="wide ae-1 fromCenter">
      <h1 class="ae-1" style="font-size:4rem;">Crystal</h1>
    </svg>
  </div>
  <div class="button play small white popupTrigger ae-2 fromCenter margin-top-4 margin-bottom-4" data-popup-id="9">
    <svg>
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use>
    </svg>
  </div>
  <p class="large ae-3"><span class="opacity-8">Crystalize Whats Important in Life</span></p>
  <div class="container ae-4">
    <div class="row">
      <div class="col">

        <div class="mb-3 mt-3">

          <h2 class="mb-3 ae-4" style="font-weight: 300">Upload video</h2>

          <div class="form-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" name="file_input" id="file_input"
                oninput="input_filename();">
              <label id="file_input_label" class="custom-file-label" for="image">Select file</label>
            </div>
          </div>

          <button onclick="upload('{{ request.url }}');" id="upload_btn" class="btn btn-primary">Upload</button>

          <button class="btn btn-primary d-none" id="loading_btn" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Uploading...
          </button>

          <button type="button" id="cancel_btn" class="btn btn-secondary d-none">Cancel upload</button>

        </div>

        <div id="progress_wrapper" class="d-none">
          <label id="progress_status"></label>
          <div class="progress mb-3">
            <div id="progress" class="progress-bar success" role="progressbar" aria-valuenow="25" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
        </div>

        <div id="alert_wrapper"></div>

      </div>
    </div>
  </div>
</div>

{% endblock content %}